.vscode/
Output/
DebugConfig/
*.axf
*.build_log.htm
*.dep
*.d
*.o
*.lst
*.map
*.sct
*.crf
*.htm
*.iex
*.log
JLinkSettings.ini
*.bak
*.db*
*.scvd
*.uv4.log
*.uv4.log.lock
*_04.uvguix.*
_04.uvoptx
_04.uvprojx
*.tmp
*.swp
.DS_Store
Thumbs.db
